<div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Services
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
      </ol>
    <hr>
  <hr class="notvisi">
    <hr class="notvisi">
      <!-- Intro Content -->

        <div class="col-lg-12">
          <img src="<%= image_path("luca-bravo.jpg", size: "1920x720") %>" class="img-fluid rounded mb-4" alt="luca-bravo.jpg, bxmark's reason to serve" />
        </div>

        <div class="row">
        <div class="col-lg-12" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Business Developement</a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body">
          We build up your business in the area of sustainable digital development in the United States. With our expertise, we help individual's brands, start-ups, corporations, investors and public authorities build up their innovative ideas and growth at the intersection of a large economy and the digital economy.
          </div>
        </div>
      </div>
            <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Marketing</a>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
              BxMark is here to provide a clear vision that you may know where to stand and what to stand for- because unless we stand for something we shall fall for anything. With that it in mind, this help us analyze business expenses to the dollar to mitigate business expenses. All in all we are here to provide nothing but great strategies.
            </div>
          </div>
        </div>
        <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Digital Services</a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-body">
          We are at our best when we are helping companies identify and evaluate new product opportunities, developing product strategies, and designing new digital products such as websites and mobile applications  to service the market. We combine heavyweight website craftsmanship with refined design principals to bring the world closer to you!
        </div>
      </div>
    </div>
        </div>
      </div>
      <!-- /.row -->
    <hr>

      <!-- /.row -->

    </div>
    <!-- /.container -->
