
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/ENKNXE2NAM.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Business</h3>
              <p>Tired of not knowing how to, when and where? This is your mark to get started!</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://wallpaperscraft.com/image/minato_japan_skyscrapers_city_view_from_above_118498_1920x1080.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Marketing</h3>
              <p>Come and lets cover some ground on market research and advertising. Once our basis is covered then lets move on to advanced skills</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://wallpaperscraft.com/image/imac_apple_computer_table_cup_notebook_109176_1920x1080.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Engineering</h3>
              <p>Engineering is such an intricate part, here the possibilities are enless from creating, monitoring, security and more!</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Learn, Utilize, Execute</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Business</h4>
            <div class="card-body">
              <p class="card-text">BxMark is here to teach you how to leverage the practice of making one's living engaged in commerce. Utilize what you already know, have heard of or might have even done before.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Marketing</h4>
            <div class="card-body">
              <p class="card-text">Your actions or the business of when and how promote and sell your skills, products or services, including market research and advertising.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Engineering</h4>
            <div class="card-body">
              <p class="card-text">The process of utilizing knowledge and principles to design, build, and analyze objects. Engineering is a necessary element for any level of business.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <hr>
        <hr class="notvisi">
          <hr class="notvisi">

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>BxMark</h2>
          <p>Good business leaders create a vision, articulate the vision, passionately own the vision, and relentlessly drive it to completion. </p>
          <p>That's why every week we will post a new video that us Professionals find all over, brought to your finger tips! -Enjoy the Holidays</p>
          <p>The Modern Digital Business Week of nuggets:</p>
          <ul>
            <li>
              <strong>Bootstrap v4</strong>
            </li>
            <li>Network & Security Risks</li>
            <li>UI (User Interface) & UX (User Experience)</li>
            <li>Working contact form with validation and payments system</li>
            <li>Easily customize campaigns, sites, and more and fit your brand</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <iframe width="550" height="350" src="https://www.youtube.com/embed/Ny1g1eQHnCI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <!-- /.row -->

      <hr>
        <hr class="notvisi">
          <hr class="notvisi">
            <hr class="notvisi">

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <h4>Follow Us</h4>
          <p>Are you looking to keep up with all the best, leading edge technologies and news? Follow us on Tumblr for a journey to liberate the mind.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="https://bxmark.tumblr.com/">Tumblr</a>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer lay -->


    <!-- Bootstrap core JavaScript
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
  </body>

</html>
