<div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">About
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">About BxMark</li>
      </ol>

      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img src="<%= image_path("ian-schneider.jpg") %>" class="img-fluid rounded mb-4" alt="ian-schneider.jpg, bxmark's reason to exist" />
        </div>
        <div class="col-lg-6">
          <h6><b><ins>Who we are</ins></b></h6>
          <p>BxMark is a network of very proficient and experts individual's whom we help brands, start-ups, corporations, investors and public authorities build up their innovative ideas and growth at the intersection of a large economy and the digital economy.</p>
          <h6><b><ins>Who we do?</ins></b></h6>
          <p>We handcraft applications individuals use daily from marketplaces, exchanges, social networks, etc.</p>
          <h6><b><ins>What is our goal?</ins></b></h6>
          <p> We aim to help educate individuals and business entities of all kinds in counties DFW area and abroad by advising them on how to utilize the information at hand. With so many disenfranchised individuals with great potential but with little digital training, information, security, or a healty ecosystem of all elements combined, it hinders one’s potential to maximize business inputs and outputs to yield positive results.</p>
        </div>
      </div>
      <!-- /.row -->
<hr>
<hr class="notvisi">
      <!-- Team Members -->
      <h2>Our Team</h2>

      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAMCAAAAJDJhMDZhZWJlLTViOGEtNDljOS1iMTU5LTVhZGU4NDQwMGFkNQ.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Gideon Mwaniki</h4>
              <h6 class="card-subtitle mb-2 text-muted">Co-founder, CTO</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#">Gid.mwaniki@bxmark.net</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="https://media.licdn.com/media/AAEAAQAAAAAAAAtoAAAAJDM0MWIwNjVhLWU3NjctNGY4NC1iNGNkLTc2Y2U2NjllZTRlNQ.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Collins Ateku</h4>
              <h6 class="card-subtitle mb-2 text-muted">CEO</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="https://media.licdn.com/media/p/2/000/013/002/02208f4.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Michael Stacey</h4>
              <h6 class="card-subtitle mb-2 text-muted">CFO</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#"></a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->


    </div>
