<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; BxMark 2017</p>
  </div>

  <li class="nav-item">
    <a class="nav-link" href="https://www.facebook.com/BxMark-340742753003286/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://twitter.com/BXMarkX"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://bxmark.tumblr.com/"><i class="fa fa-tumblr" aria-hidden="true"></i></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://medium.com/@info_98055"><i class="fa fa-medium" aria-hidden="true"></i></a>
  </li>
  <!-- /.container -->
</footer>
